@model Company

<div class="card shadow border-0 my-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
	<div class="col-12 text-center">
			<h2 class="text-white py-2">@(Model.Id != 0 ? "Update":"Create") Company</h2>
	</div>
	</div>

	<div class="card-body p-4">
		<form method="post" class="row" enctype="multipart/form-data">
			<!-- For file upload to work, we need enctype="multipart/form-data-->
			<input asp-for="@Model.Id" hidden/>
			<!-- Since we don't have imageurl in input field, when the form is posted, it is not available in controller. To fix that we have added imageurl as hidden property-->
			<div class="row">
				<div class="col-12">
					<div class="border p-3 ">
						@*<div asp-validation-summary="ModelOnly"></div> *@ <!--displays all validation error in one place. If instead of ALL, we add ModelOnly, the error list will not include property related error messages-->
						<!-- If instead of ALL, we add None, no error will be displayed in global scope-->
						<div class="form-floating py-2 col-12">
							<input asp-for="Name" class="form-control border-0 shadow" />
							<label asp-for="Name" class="ms-2"></label>
							<span asp-validation-for="Name" class="text-bg-danger"></span>
						</div>
						
						<div class="form-floating py-2 col-12">
							<input asp-for="City" class="form-control border-0 shadow" />
							<label asp-for="City" class="ms-2"></label>
							<span asp-validation-for="City" class="text-bg-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="State" class="form-control border-0 shadow" />
							<label asp-for="State" class="ms-2"></label>
							<span asp-validation-for="State" class="text-bg-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="PostalCode" class="form-control border-0 shadow" />
							<label asp-for="PostalCode" class="ms-2"></label>
							<span asp-validation-for="PostalCode" class="text-bg-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="PhoneNumber" class="form-control border-0 shadow" />
							<label asp-for="PhoneNumber" class="ms-2"></label>
							<span asp-validation-for="PhoneNumber" class="text-bg-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="StreetAddress" class="form-control border-0 shadow" />
							<label asp-for="StreetAddress" class="ms-2"></label>
							<span asp-validation-for="StreetAddress" class="text-bg-danger"></span>
						</div>
						
						
						<div class="row pt-2">
							<div class="col-6 col-md-3">
								@if(Model.Id != 0) {
									<button type="submit" class="btn btn-primary form-control">Update</button>
								} else {
									<button type="submit" class="btn btn-primary form-control">Create</button>
								}

							</div>

							<div class="col-6 col-md-3">
								<a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary border form-control">Back to list</a>
							</div>

						</div>


					</div>
				</div>
				

			</div>
			
		</form>
	</div>
	
</div>



@section Scripts{
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: [
				// Core editing features
				'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
				// Your account includes a free trial of TinyMCE premium features
				// Try the most popular premium features until Jul 29, 2025:
				'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
			],
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			],
			ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
		});
	</script>
	@{
		<partial name="_ValidationScriptsPartial" />
		<!-- This is partial js script which is used for client side validation,
		provided by default for client side validation,
		the name should be exactly same as present under shared folder -->
	}
}
